@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body
{
    min-height: 200vh;
    background-color: white;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 100px;
    z-index: 10000;
}
header.sticky
{
    padding: 5px 100px;
    background: rgba(0, 0, 139, 80%);
}

header .logo
{
    position: relative;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform:  uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a 
{
    position: relative;
    padding: 8px 8px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a
{
    color: white;
}

header ul li a,
header ul li a:after,
header ul li a:before {
  transition: all .5s;
}

header #current a,
header ul li a:hover {
  color: rgb(30, 144, 255);
}

header.sticky #current a,
header.sticky ul li a:hover {
    color: rgb(30, 144, 255);
}

header ul li a:after,
header ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(30, 144, 255);
  height: 2px;
}

header.sticky ul li a:after,
header.sticky ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(30, 144, 255);
  height: 2px;
}

header #current a:after,
header ul li a:hover:after {
  width: 100%;
}

.titre h1
{
    font-size: 3em;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 5vh;
}

.equipe
{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.nomFlex img
{    
    border-radius: 50%;
    object-fit: cover;
    width: 30vh;
    height: 30vh;
}

.equipe h2
{
    text-align: center;
    font-size: 1.5em;
    margin: 20px;
}

.equipe p
{
    text-align: justify;
    font-size: 1em;
    margin: 20px;
    margin-top: 0;
}

.nomFlex
{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

footer
{
    margin: 0;
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
    justify-content: space-between;
}

footer .logos
{
    margin-left: 2vw;
}

footer img
{
    height: 7vh;
    width: auto;
    margin-right: 1vw;
}

footer .logos,
footer .empty
{
    flex: 1;
}